@import "../../variables.scss";

.container {
    padding: 1.25rem 1.875rem;
}

.products-container {
    padding-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1.875rem;
    grid-column-gap: 1.25rem;
    justify-content: space-between;
    align-content: center;
}

.product-card {
    background-color: $orange;
    height: 13.125rem;
    border-radius: 1rem;
    box-shadow: $border-box-shadow;
    cursor: pointer;

    img {
        height: 11.25rem;
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        box-shadow: $img-shadow;
        background-color: $white;
    }
}

.product-card:hover {
    box-shadow: $black-box-shadow;
}

.product-info {
    background: transparent;
    font-size: 1.2rem;
    border-radius: 1rem;
    letter-spacing: 0.15rem;
    display: flex;
    justify-content: space-evenly;
    color: $white;

    .product-name,
    .product-price {
        display: inline-block;
        background: transparent;
    }
}

.product-list-header {
    display: flex;
    justify-content: space-between;

    button {
        display: inline-block;
    }

    .filter-input {
        display: inline-block;
        border: 1px solid $orange;
        border-radius: 4px;
        font-size: 1rem;
        padding: 0.5rem 0.75rem;
    }

    .filter-input:hover {
        box-shadow: $black-box-shadow;
    }

    .filter-input:focus-visible {
        outline-color: $orange;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}