@import "../app/variables.scss";

* {
    height: 100%;
}

header {
    background: $red-pink-gradient;
    color: $white;
    font-size: 1.875rem;
    letter-spacing: 0.125rem;
    text-align: center;
    padding: 1rem;
    box-shadow: $black-box-shadow;

    img {
        height: 1.75rem;
        width: 1.75rem;
        margin-left: 1rem;
        box-shadow: $cherry-shadow;
        border-radius: 100%;
    }
}

footer {
    background: $black;
    color: $white;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    text-align: center;
    padding: 1rem;
    box-shadow: $black-box-shadow;
    position: sticky;
    top: 100%;
}