$orange: #ff6961;
$white: #fff;
$black: #111010;
$red-pink-gradient: linear-gradient(to right, #FF4B2B, #FF416C);
$black-box-shadow: rgba(0, 0, 0, 0.24) 0 0.19rem 0.5rem;
$border-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
$img-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$cherry-shadow: $white 0 0.4rem 1rem;